@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
body{

    margin: 0;
    padding: 0;
    background: linear-gradient(to left, rgb(243, 195, 106), rgb(24, 187, 152), rgb(207, 159, 207))
}

.calci{
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.25s;
    text-align: center;
}

#display{
    background: white;
    border-radius: 30px;
    width: 240px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    height: 60px;
    margin: auto;
    outline: none;
    border: 2px solid white;
    color: black;
    text-align: center;
}

.btnDesign {
    width: 55px;
    height: 50px;
    padding-top: -1px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    margin: 1px;
    cursor: pointer;
}

.operatorDesign{
    width: 55px;
    height: 50px;
    padding-top: -1px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    margin: 1px;
    transition: 0.25px;
    cursor: pointer;
}

    .operatorDesign:hover {
        background-color: cadetblue;
}

#zero {
    width: 55px;
    height: 50px;
    padding-top: -1px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    margin: 1px;
    background: white;
    cursor: pointer;
}

.title{
    display: flex;
    margin-top: 50px;
    font-weight: 300;
    font-family: "Rajdhani", sans-serif;
    font-size: 50px;
    color: white;
    align-items: center;
    justify-content: center;
}

